@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #f1f0e3;
    background-image: url(https://images.unsplash.com/photo-1586075574644-b6e4cb9df495?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    font-family: 'Unica One', cursive;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.img-paper {
    position: absolute;
    display: block;
    width: 100%;
    top: -170px;
    left: -60px;
    z-index: -100;
} 

.img-paper-down {
    position: absolute;
    width: 1300px;
    bottom: -160px;
    right: -60px;
    transform: rotate(180deg);
    z-index: -200;
}

.img-user {
    position: absolute;   
    bottom: 0px;
    left: -300px;
    height: 700px;
    z-index: 0;
    transform: scale(1);
    filter: grayscale(0.9);
    transition: 0.7s all, filter 0.3s;
}

.img-user:hover {
    left: -270px;
}

.img-machine {
    position: absolute;
    right: 0px;
    bottom: 0px;   
    filter: grayscale(0.9);
    transform: scale(1.3);
    transition: 0.7s all, filter 0.3s;
}

.img-machine:hover {
    right: -30px;
}

.animation-machine {
    animation-name: defeated-machine;
    animation-duration: 1.2s;
}

.animation-user {
    animation-name: defeated-user;
    animation-duration: 1.2s;
}

@keyframes defeated-machine {         
    0%   {filter: grayscale(0.9); right: 0px;}
    25%  {filter: grayscale(0.9) drop-shadow(16px 16px  rgba(255, 0, 0, 0.575)) drop-shadow(16px 16px  rgba(255, 0, 0, 0.555)); right: -30px;}
  }

  @keyframes defeated-user {         
    0%   {filter: grayscale(0.9); left: -300px;}
    25%  {filter: grayscale(0.9) drop-shadow(-16px 16px  rgba(255, 0, 0, 0.575)) drop-shadow(-16px 16px  rgba(255, 0, 0, 0.555)); left: -270px;}
  }
  

header {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    padding: 8px;
    font-size: 70px;
    text-transform: uppercase;
    background-color: #2b3033;
    color: #f0f2f7;
    cursor: pointer;
    transition: 0.3s all;
}

header h1:hover {
    background-color: #596872;
    box-shadow: -8px 8px #1b1e20;
}

.container-board {
    max-width: 1000px;
    height: calc(100vh - 300px);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*border: 1px solid #332d23;*/
}

.container-board > div {
    height: 100%;
}

.container-score {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container-score > span {
    font-size: 55px;
    color: #1b1e20;
    background-color: #f0f2f7;
    padding: 8px;
    box-shadow: -8px 8px #1b1e20;
    cursor: pointer; 
    transition: 0.3s;
}

.container-score > span:hover {
    background-color: #1b1e20;
    color: #f0f2f7;
    box-shadow: -8px 8px #596872;
}

.score {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 150px;
    font-weight: bold;
    color: #1b1e20;
}

.container-score div p {
    width: auto;
    font-size: 35px;
    padding: 8px;
    color: #1b1e20;
    background-color: #f0f2f7;
    box-shadow: -8px 8px #1b1e20;
    cursor: pointer;
    transition: all 0.3s;
}

.username {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}



.options {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.options img {
    height: 100px;
    width: 100px;
    transition: 0.1s all;
    cursor: pointer;
    z-index: 100;
}

.options img:hover {
    transform: scale(1.2);
}



.machine {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.machine span,
.username span {
    background-color: #2b3033;
    color: white;
    box-shadow: -8px 8px #596872;
    padding: 8px;
    transition: 0.3s all;
    cursor: pointer;
}

.machine span:hover,
.username span:hover {
    background-color: #596872;
    box-shadow: -8px 8px #1b1e20;
}


.container-play-again {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 500;
    background-color: #1b1e20c5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container-play-again p {
    width: 70%;
    text-align: center;
    background-color: #1b1e20;
    color: #f0f2f7;
    padding: 8px;
    font-size: 80px;
    box-shadow: -15px 15px #596872;
    transition: 0.3s all;
    cursor: pointer;
}

.container-play-again button {
    font-family: 'Unica One', cursive;
    border: none;
    padding: 35px 60px;
    font-size: 35px;
    background-color: #1b1e20;
    color: #f0f2f7;
    box-shadow: -10px 10px #596872;
    cursor: pointer;
    transition: 0.3s all;
}

.container-play-again button:hover,
.container-play-again p:hover {
    background-color: #f0f2f7;
    color: #1b1e20;
    box-shadow: -10px 10px #1b1e20;
}


footer {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 50px;
    width: 50px;
}


